<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Books I Have Read</title>
  </head>
  <body>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="content">
      <div class="title">
        <h3>Books I've Read</h3>
        <p>
          Tiny summary of all the books I've read in my life. This page will
          constantly update as I read more, so bookmark it if you want to check
          back in a few months.
        </p>
        <br />
        <p>You can sort them by title or score</p>
      </div>
      <hr />
      <div class="booksContainer">
        <div class="book">
          <div class="mainInfo">
            <div class="imgContainer">
              <img
                src="https://m.media-amazon.com/images/I/51gYK5+m80L.jpg"
                alt=""
              />
            </div>
            <div class="bookInfo">
              <h3>Book Title</h3>
              <h5>Date Read: 2023-11-15</h5>
              <h5>Score: 8/10</h5>
            </div>
          </div>
          <div class="bookDesc">
            <p>
              A unique thinker with strong opinions presented as indisputable
              fact. More surprisingly interesting ideas than almost any book
              I've ever read. Extremely thoughtful, but occasionally abruptly
              concludes with an unsupported point. It has a conservative “this
              is how it is” certainty. It’s a broad collection of thoughtful
              insights on life, mixed with a lot of Bible interpretation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
